<form [formGroup]="changePasswordForm" (ngSubmit)="onChangePassword()">
    <div class="mb-3">
        <label for="newPassword" class="form-label">New password</label>
        <input type="password" class="form-control" id="newPassword" formControlName="newPassword">
    </div>
    <div class="mb-3">
        <label for="currentPassword" class="form-label">Repeat password</label>
        <input type="password" class="form-control" id="repeatPassword" formControlName="repeatPassword">
    </div>
    <button type="submit" class="btn btn-primary">Change password</button>
</form>