<div class="d-flex justify-content-center" id="register-container">
    <div class="d-flex align-items-center">
        <form class="p-5 bg-primary text-light">
            <div class="mb-3">
                <label class="form-label" for="email">Email address</label>
                <input type="text" class="form-control" id="email" placeholder="email@example.com">
            </div>
            <div class="mb-3">
                <label class="form-label" for="email">Username</label>
                <input type="text" class="form-control" id="username" placeholder="username">
            </div>
            <div class="mb-3">
                <label class="form-label" for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="password">
            </div>
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-light btn-block text-dark">Register</button>
            </div>
        </form>
    </div>
</div>