<div class="register-container mt-5" *ngIf="!registrationInProgress;else loading">
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" (click)="formToggle()">
        <label class="form-check-label">{{regularRegistration ? 'Switch to Business account registration': 'Switch to Regular account registartion'}}</label>
    </div>
    <app-register-form [regularRegistration]="regularRegistration"></app-register-form>
</div>
<ng-template #loading>
    <app-loading message="Registering... Please wait..."></app-loading>
</ng-template>