<div class="row">
    <div class="col">
        <button id="comment" class="btn btn-light btn-small" title="Comment"><i class="bi bi-chat"></i>&nbsp;<span
                class="text-muted">39</span></button>
    </div>
    <div class="col">
        <button id="retweet" class="btn btn-light btn-small" title="Retweet"><i
                class="bi bi-arrow-counterclockwise"></i>&nbsp;<span class="text-muted">174</span>
        </button>
    </div>
    <div class="col">
        <button id="like" class="btn btn-light btn-small" title="Like"><i class="bi bi-heart" (click)="onLikeTweet(tweetId)"></i>&nbsp;<span
                class="text-muted">432</span></button>
    </div>
    <div class="col">
        <button id="share" class="btn btn-light btn-small disabled" title="Share"><i class="bi bi-send"></i>&nbsp;<span
                class="text-muted">Share</span></button>
    </div>
</div>