<form [formGroup]="createTweetForm" enctype="multipart/form-data" (ngSubmit)="onSubmit()">

    <div class="border p-2">
        <div class="d-flex align-items-center">
            <img src=" ./assets/images/profile.jpeg" style="width:84px;height:84px;" class="rounded-circle me-2">
            <textarea class="form-control form-control-lg" formControlName="text"
                placeholder="What's happening?"></textarea>
        </div>
        <div class="d-flex mt-2">
            <input type="file" class="form-control w-50 me-auto" formControlName="image" title="Media"
                (change)="selectImage($event)">
            <div class="flex-shrink-1">
                <button type="submit" class="btn btn-primary">Tweet</button>
            </div>
        </div>
    </div>
</form>