<div class="card mt-3">
    <div class="card-header">
        <h5>Account privacy</h5>
    </div>
    <form class="card-body">
        <div class="form-check form-switch">
            <label class="form-check-label" for="flexSwitch">Private account</label>
            <input class="form-check-input" type="checkbox" [checked]="private" name="private" role="switch"
                id="flexSwitch" (change)="onSubmit()">
        </div>
    </form>
</div>
<form class="card mt-3" [formGroup]="changePasswordForm" (ngSubmit)="onChangePassword()">
    <div class="card-header">
        <h5>Change password</h5>
    </div>
    <div class="card-body">
        <div class="mb-3">
            <label for="currentPassword" class="form-label">Current password</label>
            <input type="password" class="form-control" id="currentPassword" placeholder="current password..." formControlName="currentPassword">
        </div>
        <div class="mb-3">
            <label for="newPassword" class="form-label">New password</label>
            <input type="password" class="form-control" id="newPassword" placeholder="new password..." formControlName="newPassword">
        </div>
        <div class="mb-3">
            <label for="currentPassword" class="form-label">Repeat password</label>
            <input type="password" class="form-control" id="repeatPassword" placeholder="repeat password..." formControlName="repeatPassword">
        </div>
        <button type="submit" class="btn btn-primary">Change password</button>
    </div>
</form>