<h5>Account privacy</h5>
<form>
    <div class="form-check form-switch">
        <label class="form-check-label" for="flexSwitch">Private account</label>
        <input class="form-check-input" type="checkbox" [checked]="private" name="private" role="switch" id="flexSwitch"
            (change)="onSubmit()">
    </div>
</form>
<form [formGroup]="changePasswordForm" (ngSubmit)="onChangePassword()">
    <div class="mb-3">
        <label for="currentPassword" class="form-label">Current password</label>
        <input type="password" class="form-control" id="currentPassword" formControlName="currentPassword">
    </div>
    <div class="mb-3">
        <label for="newPassword" class="form-label">New password</label>
        <input type="password" class="form-control" id="newPassword" formControlName="newPassword">
    </div>
    <div class="mb-3">
        <label for="currentPassword" class="form-label">Repeat password</label>
        <input type="password" class="form-control" id="repeatPassword" formControlName="repeatPassword">
    </div>
    <button type="submit" class="btn btn-primary">Change password</button>
</form>